/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$icon-achsl-nx-name: 'icon-achsl-nx';
$icon-achsl-nx-x: 0px;
$icon-achsl-nx-y: 78px;
$icon-achsl-nx-offset-x: 0px;
$icon-achsl-nx-offset-y: -78px;
$icon-achsl-nx-width: 26px;
$icon-achsl-nx-height: 48px;
$icon-achsl-nx-total-width: 177px;
$icon-achsl-nx-total-height: 150px;
$icon-achsl-nx-image: '../img/icon-set.png';
$icon-achsl-nx: (0px, 78px, 0px, -78px, 26px, 48px, 177px, 150px, '../img/icon-set.png', 'icon-achsl-nx', );
$icon-achsl-pr-name: 'icon-achsl-pr';
$icon-achsl-pr-x: 26px;
$icon-achsl-pr-y: 78px;
$icon-achsl-pr-offset-x: -26px;
$icon-achsl-pr-offset-y: -78px;
$icon-achsl-pr-width: 26px;
$icon-achsl-pr-height: 48px;
$icon-achsl-pr-total-width: 177px;
$icon-achsl-pr-total-height: 150px;
$icon-achsl-pr-image: '../img/icon-set.png';
$icon-achsl-pr: (26px, 78px, -26px, -78px, 26px, 48px, 177px, 150px, '../img/icon-set.png', 'icon-achsl-pr', );
$icon-lock-name: 'icon-lock';
$icon-lock-x: 56px;
$icon-lock-y: 0px;
$icon-lock-offset-x: -56px;
$icon-lock-offset-y: 0px;
$icon-lock-width: 50px;
$icon-lock-height: 64px;
$icon-lock-total-width: 177px;
$icon-lock-total-height: 150px;
$icon-lock-image: '../img/icon-set.png';
$icon-lock: (56px, 0px, -56px, 0px, 50px, 64px, 177px, 150px, '../img/icon-set.png', 'icon-lock', );
$icon-scroll-name: 'icon-scroll';
$icon-scroll-x: 0px;
$icon-scroll-y: 0px;
$icon-scroll-offset-x: 0px;
$icon-scroll-offset-y: 0px;
$icon-scroll-width: 56px;
$icon-scroll-height: 78px;
$icon-scroll-total-width: 177px;
$icon-scroll-total-height: 150px;
$icon-scroll-image: '../img/icon-set.png';
$icon-scroll: (0px, 0px, 0px, 0px, 56px, 78px, 177px, 150px, '../img/icon-set.png', 'icon-scroll', );
$icon-seo1-name: 'icon-seo1';
$icon-seo1-x: 106px;
$icon-seo1-y: 47px;
$icon-seo1-offset-x: -106px;
$icon-seo1-offset-y: -47px;
$icon-seo1-width: 35px;
$icon-seo1-height: 30px;
$icon-seo1-total-width: 177px;
$icon-seo1-total-height: 150px;
$icon-seo1-image: '../img/icon-set.png';
$icon-seo1: (106px, 47px, -106px, -47px, 35px, 30px, 177px, 150px, '../img/icon-set.png', 'icon-seo1', );
$icon-seo2-name: 'icon-seo2';
$icon-seo2-x: 0px;
$icon-seo2-y: 126px;
$icon-seo2-offset-x: 0px;
$icon-seo2-offset-y: -126px;
$icon-seo2-width: 36px;
$icon-seo2-height: 24px;
$icon-seo2-total-width: 177px;
$icon-seo2-total-height: 150px;
$icon-seo2-image: '../img/icon-set.png';
$icon-seo2: (0px, 126px, 0px, -126px, 36px, 24px, 177px, 150px, '../img/icon-set.png', 'icon-seo2', );
$icon-seo3-name: 'icon-seo3';
$icon-seo3-x: 153px;
$icon-seo3-y: 0px;
$icon-seo3-offset-x: -153px;
$icon-seo3-offset-y: 0px;
$icon-seo3-width: 24px;
$icon-seo3-height: 33px;
$icon-seo3-total-width: 177px;
$icon-seo3-total-height: 150px;
$icon-seo3-image: '../img/icon-set.png';
$icon-seo3: (153px, 0px, -153px, 0px, 24px, 33px, 177px, 150px, '../img/icon-set.png', 'icon-seo3', );
$icon-seo4-name: 'icon-seo4';
$icon-seo4-x: 52px;
$icon-seo4-y: 78px;
$icon-seo4-offset-x: -52px;
$icon-seo4-offset-y: -78px;
$icon-seo4-width: 31px;
$icon-seo4-height: 29px;
$icon-seo4-total-width: 177px;
$icon-seo4-total-height: 150px;
$icon-seo4-image: '../img/icon-set.png';
$icon-seo4: (52px, 78px, -52px, -78px, 31px, 29px, 177px, 150px, '../img/icon-set.png', 'icon-seo4', );
$icon-seo5-name: 'icon-seo5';
$icon-seo5-x: 83px;
$icon-seo5-y: 78px;
$icon-seo5-offset-x: -83px;
$icon-seo5-offset-y: -78px;
$icon-seo5-width: 35px;
$icon-seo5-height: 25px;
$icon-seo5-total-width: 177px;
$icon-seo5-total-height: 150px;
$icon-seo5-image: '../img/icon-set.png';
$icon-seo5: (83px, 78px, -83px, -78px, 35px, 25px, 177px, 150px, '../img/icon-set.png', 'icon-seo5', );
$icon-ya-name: 'icon-ya';
$icon-ya-x: 106px;
$icon-ya-y: 0px;
$icon-ya-offset-x: -106px;
$icon-ya-offset-y: 0px;
$icon-ya-width: 47px;
$icon-ya-height: 47px;
$icon-ya-total-width: 177px;
$icon-ya-total-height: 150px;
$icon-ya-image: '../img/icon-set.png';
$icon-ya: (106px, 0px, -106px, 0px, 47px, 47px, 177px, 150px, '../img/icon-set.png', 'icon-ya', );
$spritesheet-width: 177px;
$spritesheet-height: 150px;
$spritesheet-image: '../img/icon-set.png';
$spritesheet-sprites: ($icon-achsl-nx, $icon-achsl-pr, $icon-lock, $icon-scroll, $icon-seo1, $icon-seo2, $icon-seo3, $icon-seo4, $icon-seo5, $icon-ya, );
$spritesheet: (177px, 150px, '../img/icon-set.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}

Example usage in HTML:

`display: block` sprite:
<div class="icon-home"></div>

To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:

// CSS
.icon {
  display: inline-block;
}

// HTML
<i class="icon icon-home"></i>
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
