// шапка
.page__header
	.main-header.container.color-white
		.main-header__top
			.row
				.col-xs-6.ta-left
					a(href="/").logo
						img(src="img/logo.png", alt="Akiwa")
				.col-xs-6.ta-right
					span.big.color-white 8 (800) 200-47-80
					a(href="#modal").btn.fancybox Заказать звонок
			
				
		.main-header__body.ta-center
			h1 
				span Развиваем ваш бизнес 
				span при помощи 
				span.main ПРОДВИЖЕНИЯ 
				span в Топ-10 Яндекс и Google
		span.icon.icon-scroll
// шапка конец			